* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.header {
  width: 1140px;
  height: 62px;
  margin: auto;
  display: flex;
  align-items: center;
}
.header__button {
  width: 160px;
  height: 48px;
  background-color: rgb(48, 64, 196);
  font-weight: 700;
  font-size: 18px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 2px;
  margin-left: 75px;
  cursor: pointer;
}

.navigation {
  margin-left: auto;
}

.logo {
  display: flex;
}
.logo__img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.logo__text-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__name {
  font-size: 20px;
  font-weight: 700;
}
.logo__description {
  font-size: 18px;
  font-weight: 400;
  color: rgba(43, 41, 45, 0.6);
}

.nav-list {
  width: 273px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav-list__item > a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: rgb(0, 0, 0);
}
.nav-list__item:nth-child(3) {
  position: relative;
}
.nav-list__item:nth-child(3)::after {
  content: "";
  display: block;
  width: 8px;
  height: 5px;
  position: absolute;
  top: 10px;
  right: -19px;
  background: url(../images/arrow.svg);
}
.nav-list__item_select > a {
  font-weight: 700;
  color: rgb(43, 41, 45);
}

.pinkBacground-lable {
  min-height: 710px;
  padding: 39px 0 77px;
  background-color: rgb(243, 198, 189);
}

.footer {
  min-height: 389px;
  width: 100%;
  padding: 43px 130px 0;
  display: flex;
  flex-wrap: wrap;
}
.footer__description {
  font-weight: 400;
  font-size: 18px;
  color: rgba(43, 41, 45, 0.6);
  width: 360px;
  line-height: 26px;
  margin: 26px 0 25px;
}
.footer__button {
  width: 135px;
  height: 40px;
  background: url(../images/app-store.svg);
  border: none;
  cursor: pointer;
}
.footer__button:nth-child(2) {
  width: 116px;
  background: url(../images/google-play.svg);
  margin-left: 5px;
}
.footer__link-label {
  min-width: 265px;
}
.footer__link-label:nth-child(2) {
  margin: 0 29px 0 126px;
}
.footer__link-label > h6 {
  font-size: 22px;
  font-weight: 700;
  color: rgb(43, 41, 45);
  margin-bottom: 18px;
}
.footer__extraLink-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.productAndCompany-links {
  list-style: none;
}
.productAndCompany-links__item > a {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  font-size: 18px;
  line-height: 30px;
}

.extraLinks {
  min-width: 180px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.extraLinks__textItem > a {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  font-size: 14px;
  font-weight: 400;
}

.extraIcons {
  min-width: 97px;
}
.extraIcons__item > a {
  display: inline-block;
  width: 18px;
  height: 17px;
  background: url(../images/linkedIn.svg);
}
.extraIcons__item:nth-child(1) > a {
  width: 21px;
  height: 16px;
  background: url(../images/icon-twitter.svg);
}
.extraIcons__item:nth-child(2) > a {
  background: url(../images/icon-fb.svg);
}

.headline {
  position: relative;
  padding-left: 130px;
}
.headline__title {
  width: 754px;
  font-size: 80px;
  font-weight: 700;
  line-height: 78px;
  color: rgb(43, 41, 45);
  letter-spacing: -0.5px;
  position: relative;
  z-index: 2;
}
.headline__text {
  width: 456px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: rgb(43, 41, 45);
  margin: 34px 0 58px;
}
.headline__banner {
  position: absolute;
  bottom: -60.5px;
  right: 25px;
}
.headline__action-button:nth-child(2) {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  color: rgb(48, 64, 196);
  margin-left: 5px;
}

.action-button {
  width: 160px;
  height: 48px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040c4;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  background-blend-mode: overlay, normal;
  font-size: 18px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

.whatIsIt {
  width: 1400px;
  min-height: 255px;
  background-color: rgb(244, 245, 247);
  display: flex;
  justify-content: space-between;
  padding: 77px 130px 76px;
}
.whatIsIt__text-label {
  width: 555px;
  min-height: 102px;
}
.whatIsIt__text-label > h6, .whatIsIt__text-label p {
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  color: rgb(43, 41, 45);
}
.whatIsIt__text-label > p {
  font-weight: 400;
}

.page {
  width: 1400px;
  margin: auto;
  position: relative;
}
.page__line-for-footer {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(43, 41, 45, 0.1);
  bottom: 50px;
}

/*# sourceMappingURL=styles.css.map */
