* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: rgb(43, 41, 45);
}

.header {
  width: 1140px;
  height: 62px;
  margin: auto;
  display: flex;
  align-items: center;
}
.header__button {
  width: 160px;
  height: 48px;
  background-color: rgb(48, 64, 196);
  font-weight: 700;
  font-size: 18px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 2px;
  margin-left: 75px;
  cursor: pointer;
  margin-bottom: 14px;
}

.navigation {
  margin-left: auto;
  margin-bottom: 21px;
}

.logo {
  display: flex;
}
.logo__img {
  width: 66px;
  height: 68px;
  margin: 1px 9px 0 0;
}
.logo__text-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}
.logo__description {
  font-size: 18px;
  font-weight: 400;
  color: rgba(43, 41, 45, 0.6);
}

.nav-list {
  width: 273px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav-list__item > a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: rgb(0, 0, 0);
}
.nav-list__item:nth-child(3) {
  position: relative;
}
.nav-list__item:nth-child(3)::after {
  content: "";
  display: block;
  width: 8px;
  height: 5px;
  position: absolute;
  top: 9px;
  right: -19px;
  background: url(../images/arrow.svg);
}
.nav-list__item_select > a {
  font-weight: 700;
  color: rgb(43, 41, 45);
}

.pinkBacground-lable {
  min-height: 710px;
  padding: 39px 0 77px;
  background-color: rgb(243, 198, 189);
}

.footer {
  min-height: 389px;
  width: 100%;
  padding: 43px 130px 0;
  display: flex;
  flex-wrap: wrap;
}
.footer__description {
  font-weight: 400;
  font-size: 18px;
  color: rgba(43, 41, 45, 0.6);
  width: 360px;
  line-height: 26px;
  margin: 26px 0 25px;
}
.footer__button {
  width: 135px;
  height: 40px;
  background: url(../images/app-store.svg);
  border: none;
  cursor: pointer;
}
.footer__button:nth-child(2) {
  width: 116px;
  background: url(../images/google-play.svg);
  margin-left: 5px;
}
.footer__link-label {
  min-width: 265px;
}
.footer__link-label:nth-child(2) {
  margin: 0 29px 0 126px;
}
.footer__link-label > h6 {
  font-size: 22px;
  font-weight: 700;
  color: rgb(43, 41, 45);
  margin-bottom: 18px;
}
.footer__extraLink-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.productAndCompany-links {
  list-style: none;
}
.productAndCompany-links__item > a {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  font-size: 18px;
  line-height: 30px;
}

.extraLinks {
  min-width: 180px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.extraLinks__textItem > a {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  font-size: 14px;
  font-weight: 400;
}

.extraIcons {
  min-width: 97px;
}
.extraIcons__item > a {
  display: inline-block;
  width: 18px;
  height: 17px;
  background: url(../images/linkedIn.svg);
}
.extraIcons__item:nth-child(1) > a {
  width: 21px;
  height: 16px;
  background: url(../images/icon-twitter.svg);
}
.extraIcons__item:nth-child(2) > a {
  background: url(../images/icon-fb.svg);
}

.headline {
  position: relative;
  padding-left: 130px;
}
.headline__title {
  width: 754px;
  font-size: 80px;
  font-weight: 700;
  line-height: 78px;
  color: rgb(43, 41, 45);
  letter-spacing: -0.5px;
  position: relative;
  z-index: 2;
  margin: 76px 0 0 -4px;
}
.headline__text {
  width: 456px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: rgb(43, 41, 45);
  margin: 43px 0 58px;
}
.headline__banner {
  position: absolute;
  bottom: -49px;
  right: 25px;
}
.headline__action-button:nth-child(2) {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  color: rgb(48, 64, 196);
  margin-left: 5px;
  width: 157px;
}

.action-button {
  width: 160px;
  height: 48px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040c4;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  background-blend-mode: overlay, normal;
  font-size: 18px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

.about {
  width: 1400px;
  min-height: 255px;
  background-color: rgb(244, 245, 247);
  display: flex;
  justify-content: space-between;
  padding: 77px 131px 73px 130px;
}
.about__text-label {
  width: 555px;
  min-height: 102px;
}
.about__text-label > h6,
.about__text-label p {
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  color: rgb(43, 41, 45);
  margin-top: 1px;
}
.about__text-label > p {
  font-weight: 400;
  margin-top: 8px;
  letter-spacing: 0.05px;
}

.customers {
  max-width: 1140px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto 106px;
}
.customers__icon {
  display: flex;
}
.customers__icon > img {
  filter: brightness(0);
  max-width: 100%;
  margin: auto;
  background-repeat: no-repeat;
}

.features {
  width: 1400px;
  min-height: 602px;
  margin: 0 auto;
  padding: 5px 0 89px 126px;
  position: relative;
}
.features__small-banner {
  position: absolute;
  left: 0;
  bottom: 318px;
}
.features__big-banner {
  position: absolute;
  right: 0;
  bottom: 140px;
}

.features-text {
  width: 458px;
}
.features-text__firstTitle {
  font-size: 22px;
  font-weight: 700;
  color: rgb(0, 155, 77);
  margin-left: 2px;
}
.features-text__secondTitle {
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  color: rgb(43, 41, 45);
  margin: 28px 0 30px;
}
.features-text__underTitle-description {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: rgb(43, 41, 45);
  margin-bottom: 43px;
  margin-left: 2px;
}
.features-text__clickLink {
  position: relative;
  width: 100%;
  margin-bottom: 44px;
  cursor: pointer;
  margin-left: 3px;
}
.features-text__clickLink::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(43, 41, 45, 0.15);
  position: absolute;
  bottom: -23px;
}
.features-text__clickLink > h6 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: rgb(43, 41, 45);
  position: relative;
  padding-left: 39px;
}
.features-text__clickLink > h6::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../images/compass.svg) center;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0);
}
.features-text__clickLink:nth-child(5) {
  margin-bottom: 46px;
}
.features-text__clickLink:nth-child(5) > h6::before {
  background: url(../images/house.svg);
  top: -1px;
  left: 1px;
  height: 25px;
}
.features-text__clickLink:nth-child(6) > h6::before {
  background: url(../images/busket.svg) center no-repeat;
  top: 1px;
  left: 1px;
}
.features-text__clickLink > p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 9px;
  line-height: 25px;
  color: rgb(43, 41, 45);
  letter-spacing: 0.06px;
}
.features-text__clickLink_active > h6 {
  color: rgb(49, 66, 198);
}
.features-text__clickLink_active > h6::before {
  filter: brightness(1);
}
.features-text__clickLink_active::after {
  background-color: rgb(49, 66, 198);
  height: 3px;
}

.audience {
  width: 1400px;
  padding: 114px 0 110px;
  margin: 0 auto;
  background-color: rgba(0, 161, 198, 0.07);
  color: rgb(43, 41, 45);
  text-align: center;
}
.audience__firstTitle {
  font-size: 22px;
  font-weight: 700;
}
.audience__secondTitle {
  max-width: 555px;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin: 27px auto 30px;
  line-height: 56px;
}
.audience__text {
  max-width: 555px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin: 0 auto 38px;
}
.audience__learnMore {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  color: rgb(0, 0, 0);
  margin: 0 0 111px 3px;
  padding-top: 1px;
}
.audience__cads-label {
  width: 1139px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.audience-card {
  display: flex;
  width: 262px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff url(../images/audience-card1.png) no-repeat center 22px;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 33px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  color: rgb(43, 41, 45);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.audience-card:nth-child(2) {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff url(../images/audience-card2.png) no-repeat center 22px;
}
.audience-card:nth-child(3) {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff url(../images/audience-card3.png) no-repeat center 22px;
}
.audience-card:nth-child(4) {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff url(../images/audience-card4.png) no-repeat center 22px;
}
.audience-card:hover {
  background-color: rgb(49, 65, 197);
  color: rgb(255, 255, 255);
}

.inbox {
  width: 1400px;
  min-height: 790px;
  margin: 0 auto;
  padding: 115px 99px 0 193px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(252, 240, 227, 0.4);
  justify-content: space-between;
}
.inbox__banner {
  text-align: center;
  margin-top: 27px;
}
.inbox__banner > p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(43, 41, 45, 0.6);
  margin-top: 13px;
}

.inbox-content {
  width: 519px;
  color: rgb(43, 41, 45);
}
.inbox-content__firstTitle {
  font-size: 22px;
  font-weight: 700;
  color: rgb(241, 89, 43);
  line-height: 34px;
  margin-left: 29px;
}
.inbox-content__secondTitle {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 56px;
  margin: 24px 0 30px 27px;
}
.inbox-content__underTitleText {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin: 0 0 44px 28px;
}

.inbox-comment {
  width: 519px;
  min-height: 213px;
  background-color: #fff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-bottom: 4px solid rgb(1, 133, 208);
  padding: 30px 29px 0;
}
.inbox-comment__details {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 27px 2px;
}
.inbox-comment__details > span {
  font-weight: 700;
  font-size: 20px;
}
.inbox-comment__person {
  width: 276px;
  display: flex;
  justify-content: space-between;
}
.inbox-comment__person > img {
  width: 40px;
  height: 40px;
  margin-top: 2px;
}
.inbox-comment__person > div > p:nth-child(1) {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
.inbox-comment__person > div > p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}

.page {
  width: 1400px;
  margin: auto;
  position: relative;
}
.page__line-for-footer {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(43, 41, 45, 0.1);
  bottom: 50px;
}

/*# sourceMappingURL=styles.css.map */
