* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: rgb(43, 41, 45);
}

.header {
  width: 1140px;
  height: 62px;
  margin: auto;
  display: flex;
  align-items: center;
}
.header__button {
  width: 160px;
  height: 48px;
  background-color: rgb(48, 64, 196);
  font-weight: 700;
  font-size: 18px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 2px;
  margin-left: 75px;
  cursor: pointer;
}
.header__navigation-wrapper {
  margin-left: auto;
}
.header__navigation-list {
  width: 273px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.header__navigation-item > a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: rgb(0, 0, 0);
}
.header__navigation-item:nth-child(3) {
  position: relative;
}
.header__navigation-item:nth-child(3)::after {
  content: "";
  display: block;
  width: 8px;
  height: 5px;
  position: absolute;
  top: 9px;
  right: -19px;
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
}
.header__navigation-item_select > a {
  font-weight: 700;
}
.header__mobile-button {
  display: none;
}

.logo {
  display: flex;
}
.logo__img {
  width: 66px;
  height: 60px;
  margin: 1px 9px 0 0;
}
.logo__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}
.logo__description {
  font-size: 18px;
  font-weight: 400;
  color: rgba(43, 41, 45, 0.6);
}

@media (max-width: 1400px) {
  .header {
    width: 100%;
    height: 64px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 16px rgba(44, 50, 65, 0.08);
    padding: 0 0 0 15px;
    justify-content: space-between;
  }
  .header__button {
    display: none;
  }
  .header__navigation-wrapper {
    display: none;
  }
  .header__mobile-button {
    display: block;
    width: 59px;
    height: 100%;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png) center no-repeat;
    cursor: pointer;
  }
  .logo {
    display: flex;
  }
  .logo__img {
    width: 53px;
    margin: 0;
  }
  .logo__name {
    margin: 0 0 0 8px;
  }
  .logo__description {
    display: none;
  }
}
.footer {
  min-height: 389px;
  width: 100%;
  padding: 43px 130px 0;
  display: flex;
  flex-wrap: wrap;
}
.footer__description {
  font-weight: 400;
  font-size: 18px;
  color: rgba(43, 41, 45, 0.6);
  width: 360px;
  line-height: 26px;
  margin: 26px 0 31px;
}
.footer__button {
  width: 135px;
  height: 40px;
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/app-store.png);
  border: none;
  cursor: pointer;
}
.footer__button:nth-child(2) {
  width: 116px;
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/google-play.png);
  margin-left: 5px;
}
.footer__link-wrapper {
  min-width: 265px;
}
.footer__link-wrapper:nth-child(2) {
  margin: 20px 29px 0 126px;
}
.footer__link-wrapper:nth-child(3) {
  margin: 20px 0 0 0;
}
.footer__link-wrapper > h6 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 18px;
}
.footer__links-list {
  list-style: none;
}
.footer__link > a {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  font-size: 18px;
  line-height: 35px;
}
.footer__extra-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.footer__bottom-links {
  min-width: 180px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.footer__bottom-link > a {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  font-size: 14px;
  font-weight: 400;
}
.footer__bottom-icons {
  min-width: 97px;
  margin: 1px 2px 0 0;
}
.footer__bottom-icon > a {
  display: inline-block;
  width: 18px;
  height: 17px;
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-linkedIn.png);
}
.footer__bottom-icon:first-child > a {
  width: 21px;
  height: 16px;
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-twitter.png);
}
.footer__bottom-icon:nth-child(2) > a {
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-fb.png);
}
.footer__logo > div {
  padding-top: 7px;
}

@media (max-width: 1400px) {
  .footer {
    padding: 35px 15px 22px;
    display: block;
    align-items: center;
  }
  .footer__buttons-wrap {
    margin: 0 0 69px 15px;
  }
  .footer__description {
    display: none;
  }
  .footer__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__logo > img {
    width: 66px;
    margin: 0 0 0 6px;
  }
  .footer__logo > div > p {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 32px;
  }
  .footer__logo > div > h6 {
    text-align: center;
    margin: 0;
    font-size: 20px;
    line-height: 25px;
    margin-top: 10px;
  }
  .footer__link-wrapper {
    width: 100%;
  }
  .footer__link-wrapper:nth-child(2) {
    margin: 0;
  }
  .footer__link-wrapper:nth-child(3) {
    margin: 30px 0 0 0;
  }
  .footer__link > a {
    line-height: 35.2px;
  }
  .footer__extra-wrapper {
    width: 100%;
    display: block;
    margin: 0;
  }
  .footer__bottom-links {
    width: 180px;
    margin: 29px 0 33px;
  }
  .footer__bottom-icons {
    width: 97px;
  }
}
.headline {
  position: relative;
  padding-left: 130px;
}
.headline__title {
  width: 754px;
  font-size: 80px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: -0.5px;
  position: relative;
  z-index: 2;
  margin: 76px 0 0 -4px;
}
.headline__text {
  width: 456px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin: 43px 0 58px;
}
.headline__banner {
  position: absolute;
  bottom: -49px;
  right: 25px;
}
.headline__action-button:nth-child(2) {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  color: rgb(48, 64, 196);
  margin-left: 5px;
  width: 157px;
}

@media (max-width: 1400px) {
  .headline {
    position: relative;
    padding: 35px 15px 36px;
  }
  .headline__title {
    width: 100%;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.31px;
    margin: 0;
  }
  .headline__text {
    width: 100%;
    margin: 29px 0 32px;
  }
  .headline__banner {
    display: block;
    width: 320px;
    height: 180px;
    position: relative;
    bottom: 0px;
    right: 15px;
  }
  .headline__action-button:first-child {
    width: 100%;
    margin-bottom: 15px;
  }
  .headline__action-button:last-child {
    width: 100%;
    margin: 0 0 33px 0;
  }
}
.action-button {
  width: 160px;
  height: 48px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040c4;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  background-blend-mode: overlay, normal;
  font-size: 18px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

.about {
  width: 1400px;
  min-height: 255px;
  background-color: rgb(244, 245, 247);
  display: flex;
  justify-content: space-between;
  padding: 77px 131px 73px 130px;
}
.about__text-wrapper {
  width: 555px;
  min-height: 102px;
}
.about__text-wrapper > h6,
.about__text-wrapper p {
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  color: rgb(43, 41, 45);
  margin-top: 1px;
}
.about__text-wrapper > p {
  font-weight: 400;
  margin-top: 8px;
  letter-spacing: 0.05px;
}

.customers {
  max-width: 1140px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto 106px;
}
.customers__icon {
  display: flex;
}
.customers__icon > img {
  filter: brightness(0);
  max-width: 100%;
  margin: auto;
  background-repeat: no-repeat;
}
.customers_second-section {
  padding-left: 2px;
  margin-bottom: 75px;
}

@media (max-width: 1400px) {
  .about {
    width: 100%;
    display: block;
    padding: 46px 15px 45px;
  }
  .about__text-wrapper {
    width: 100%;
  }
  .about__text-wrapper > h6,
.about__text-wrapper p {
    margin: 0;
  }
  .about__text-wrapper > p {
    letter-spacing: normal;
    margin: 9px 0 0 0;
  }
  .about__text-wrapper:first-child {
    margin-bottom: 31px;
  }
  .customers {
    width: 100%;
    height: auto;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
  }
  .customers__icon {
    width: 106px;
    height: 95.5px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(227, 227, 227);
  }
  .customers__icon > img {
    width: 73%;
    margin: 0;
  }
  .customers__icon:nth-child(3) > img {
    width: 36%;
  }
  .customers__icon:nth-child(5) > img {
    width: 49%;
  }
  .customers_second-section {
    padding: 0;
    margin: 0;
  }
}
.features {
  width: 1400px;
  min-height: 602px;
  margin: 0 auto;
  padding: 5px 0 89px 126px;
  position: relative;
}
.features__small-banner {
  position: absolute;
  left: 0;
  bottom: 281px;
}
.features__big-banner {
  position: absolute;
  right: 0;
  bottom: 103px;
}
.features__content-wrapper {
  width: 458px;
}
.features__first-title {
  font-size: 22px;
  font-weight: 700;
  color: rgb(0, 155, 77);
  margin-left: 2px;
}
.features__first-title_mobile {
  display: none;
}
.features__second-title {
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin: 28px 0 30px;
}
.features__description-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 43px;
  margin-left: 2px;
}
.features__click-block {
  position: relative;
  width: 100%;
  margin-bottom: 44px;
  cursor: pointer;
  margin-left: 3px;
}
.features__click-block::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(43, 41, 45, 0.15);
  position: absolute;
  bottom: -23px;
}
.features__click-block > h6 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: rgb(43, 41, 45);
  position: relative;
  padding-left: 39px;
}
.features__click-block > h6::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-compas.png) center;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0);
}
.features__click-block:nth-child(7) {
  margin-bottom: 46px;
}
.features__click-block:nth-child(8) > h6::before {
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-building.png);
  top: -1px;
  left: 1px;
  height: 25px;
}
.features__click-block:nth-child(9) > h6::before {
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-bucket.png) center no-repeat;
  top: 1px;
  left: 1px;
}
.features__click-block > p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 9px;
  line-height: 25px;
  letter-spacing: 0.06px;
}
.features__click-block_active > h6 {
  color: rgb(49, 66, 198);
}
.features__click-block_active > h6::before {
  filter: brightness(1);
}
.features__click-block_active::after {
  background-color: rgb(49, 66, 198);
  height: 3px;
}
.features__mobile-banner {
  display: none;
}
.features__mobile-caption {
  display: none;
}

@media (max-width: 1400px) {
  .features {
    width: 100%;
    margin: 0;
    padding: 48px 15px 40px;
    border-bottom: 1px solid rgb(227, 227, 227);
  }
  .features__small-banner {
    display: none;
  }
  .features__big-banner {
    display: none;
  }
  .features__content-wrapper {
    width: 100%;
  }
  .features__first-title {
    display: none;
  }
  .features__first-title_mobile {
    display: block;
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
    color: rgb(0, 155, 77);
  }
  .features__second-title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.36px;
    margin: 17px 0 18px;
  }
  .features__description-text {
    margin: 0;
  }
  .features__mobile-banner {
    display: block;
    width: 100%;
    margin: 28px 0 19px 0;
  }
  .features__mobile-caption {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    text-align: center;
  }
  .features__click-block {
    display: none;
  }
}
.audience {
  width: 1400px;
  padding: 114px 0 110px;
  margin: 0 auto 44px;
  background-color: rgba(0, 161, 198, 0.07);
  text-align: center;
}
.audience__first-title {
  font-size: 22px;
  font-weight: 700;
}
.audience__second-title {
  max-width: 555px;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin: 27px auto 30px;
  line-height: 56px;
}
.audience__text {
  max-width: 555px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin: 0 auto 38px;
}
.audience__learn-more {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  color: rgb(0, 0, 0);
  margin: 0 0 111px 3px;
  padding-top: 1px;
}
.audience__cads-wrapper {
  width: 1139px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.audience-card {
  display: flex;
  width: 262px;
  height: 300px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/user-1.png) no-repeat center 22px;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 33px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.audience-card:nth-child(2) {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/user-2.png) no-repeat center 22px;
}
.audience-card:nth-child(3) {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/user-3.png) no-repeat center 22px;
}
.audience-card:nth-child(4) {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/user-4.png) no-repeat center 22px;
}
.audience-card:hover {
  background-color: rgb(49, 65, 197);
  color: rgb(255, 255, 255);
}

@media (max-width: 1400px) {
  .audience {
    width: 100%;
    padding: 49px 15px 35px;
    margin: 0;
  }
  .audience__first-title {
    line-height: 34px;
  }
  .audience__second-title {
    width: 100%;
    font-size: 40px;
    letter-spacing: -0.36px;
    margin: 17px 0;
    line-height: 40px;
  }
  .audience__text {
    width: 100%;
    margin: 0 0 30px 0;
  }
  .audience__learn-more {
    width: 100%;
    margin: 12px 0 0 0;
    padding: 0;
  }
  .audience__get-started {
    width: 100%;
  }
  .audience__cads-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 0 0;
  }
  .audience-card {
    display: flex;
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
  }
}
.inbox {
  width: 1400px;
  min-height: 790px;
  margin: 0 auto;
  padding: 115px 99px 0 193px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(252, 240, 227, 0.4);
  justify-content: space-between;
}
.inbox__banner {
  text-align: center;
  margin-top: 27px;
}
.inbox__banner > p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(43, 41, 45, 0.6);
  margin-top: 13px;
}
.inbox__content-wrapper {
  width: 519px;
}
.inbox__first-title {
  font-size: 22px;
  font-weight: 700;
  color: rgb(241, 89, 43);
  line-height: 34px;
  margin-left: 29px;
}
.inbox__second-title {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 56px;
  margin: 24px 0 30px 27px;
}
.inbox__description-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin: 0 0 44px 28px;
}

.inbox-comment {
  width: 519px;
  min-height: 213px;
  background-color: #fff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-bottom: 4px solid rgb(1, 133, 208);
  padding: 30px 29px 0;
}
.inbox-comment__details {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 27px 2px;
}
.inbox-comment__details > span {
  font-weight: 700;
  font-size: 20px;
}
.inbox-comment__person {
  width: 276px;
  display: flex;
  justify-content: space-between;
}
.inbox-comment__person > img {
  width: 40px;
  height: 40px;
  margin-top: 2px;
}
.inbox-comment__person > div > p:nth-child(1) {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
.inbox-comment__person > div > p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}

@media (max-width: 1400px) {
  .inbox {
    width: 100%;
    margin: 0;
    padding: 58px 15px 48px;
    display: block;
  }
  .inbox__banner {
    width: 100%;
    margin: 0;
  }
  .inbox__banner > p {
    display: none;
  }
  .inbox__banner > img {
    width: 290px;
    height: 349px;
  }
  .inbox__content-wrapper {
    width: 100%;
  }
  .inbox__first-title {
    margin: 28px 0 0 0;
  }
  .inbox__second-title {
    font-size: 40px;
    letter-spacing: -0.36px;
    line-height: 40px;
    margin: 17px 0 18px;
  }
  .inbox__description-text {
    margin: 0;
    width: 100%;
    padding-right: 1px;
  }
  .inbox-comment {
    width: 100%;
    padding: 30px 20px;
    margin: 30px 0 0 0;
  }
  .inbox-comment__details {
    margin: 0 0 26px 0;
  }
  .inbox-comment__person {
    width: 240px;
    display: flex;
    justify-content: space-between;
  }
  .inbox-comment__person > img {
    margin: 3px 11px 0 0;
  }
}
.communication {
  width: 1400px;
  margin: 14px auto 0;
  padding: 110px 126px 109px 128px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.communication__content-wrapper {
  width: 461px;
}
.communication__first-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  color: rgb(1, 137, 209);
}
.communication__second-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin: 23px 0 30px -2px;
}
.communication__description-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.08px;
}
.communication__button {
  margin: 39px 0 129px 2px;
  position: relative;
}
.communication__button::after {
  content: "";
  display: block;
  width: 150px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: -87px;
  left: 0;
}
.communication__banner {
  text-align: center;
  margin-right: 65px;
}
.communication__banner > img {
  margin: -14px 1px 0 0;
}
.communication__banner > p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(43, 41, 45, 0.6);
  margin-top: 13px;
}
.communication__cards-wrapper {
  display: flex;
  margin-left: 3px;
}
.communication__cards-wrapper > div {
  width: 360px;
  height: 115px;
  margin-right: 30px;
}
.communication__cards-wrapper > div:nth-child(3) {
  width: 361px;
}
.communication__cards-wrapper > div > p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 6px;
}
.communication__cards-wrapper > div > p > span {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.communication__cards-wrapper > div > a {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: rgb(48, 64, 196);
}

@media (max-width: 1400px) {
  .communication {
    width: 100%;
    margin: 0;
    padding: 50px 15px 25px;
    display: block;
  }
  .communication__content-wrapper {
    width: 100%;
  }
  .communication__second-title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.36px;
    margin: 17px 0;
  }
  .communication__description-text {
    letter-spacing: normal;
  }
  .communication__button {
    margin: 27px 0 0 0;
  }
  .communication__button::after {
    content: "";
    display: block;
    width: 150px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: -411px;
    left: 0;
  }
  .communication__banner {
    margin: 0;
  }
  .communication__banner > img {
    width: 290px;
    height: 291px;
    margin: 40px 0 0 0;
  }
  .communication__banner > p {
    margin-top: 15px;
  }
  .communication__cards-wrapper {
    display: block;
    margin: 77px 0 0 0;
  }
  .communication__cards-wrapper > div {
    width: 100%;
    height: 138px;
    margin: 0 0 33px 0;
  }
  .communication__cards-wrapper > div:nth-child(3) {
    width: 100%;
    margin: -1px 0 0 0;
  }
}
.feedback {
  width: 1400px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 66px 0;
  position: relative;
}
.feedback__wrap {
  text-align: center;
}
.feedback__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(49, 66, 198);
}
.feedback__comment {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  max-width: 750px;
  margin: 28px 0 34px 20px;
}
.feedback__user-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.feedback__user-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(43, 41, 45, 0.6);
}
.feedback__buttons-wrap {
  margin-top: 38px;
  width: 50px;
  display: flex;
  justify-content: space-between;
}
.feedback__button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(43, 41, 45, 0.2);
  border: none;
  cursor: pointer;
}
.feedback__button_select {
  background-color: rgb(49, 66, 197);
}
.feedback__banner {
  position: absolute;
  width: 273px;
  right: 26px;
  bottom: -1px;
}

@media (max-width: 1400px) {
  .feedback {
    width: 100%;
    display: block;
    padding: 37px 15px 46px;
  }
  .feedback__wrap {
    text-align: start;
  }
  .feedback__comment {
    width: 100%;
    margin: 29px 0 32px;
  }
  .feedback__buttons-wrap {
    margin: 41px auto 0;
    width: 75px;
  }
  .feedback__button {
    width: 12px;
    height: 12px;
  }
  .feedback__banner {
    position: static;
    width: 290px;
    height: 258px;
    margin-top: 40px;
  }
}
.hiring {
  max-width: 1400px;
  text-align: center;
  margin: 0 auto;
  padding: 106px 0 110px;
}
.hiring__title {
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.5px;
}
.hiring__text {
  max-width: 555px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin: 26px auto 32px;
}
.hiring__button {
  width: 247px;
  margin-bottom: 110px;
}
.hiring__cards-wrap {
  max-width: 750px;
  min-height: 284px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
.hiring__card {
  display: block;
  height: 81px;
  border-radius: 8px;
  border: 1px solid rgba(43, 41, 45, 0.2);
  padding: 0 114px 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-decoration: none;
}
.hiring__card:nth-child(1) {
  padding-right: 104px;
}
.hiring__card::after {
  content: "";
  width: 8px;
  height: 12px;
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png);
  position: absolute;
  filter: brightness(60%);
  right: 23.5px;
  top: 34.5px;
}
.hiring__card > h6 {
  font-size: 22px;
  font-weight: 700;
}
.hiring__card > span {
  font-size: 18px;
  font-weight: 400;
  color: rgba(43, 41, 45, 0.6);
}
.hiring__card:hover {
  background-color: rgb(49, 65, 197);
}
.hiring__card:hover::after {
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right-white.png);
  filter: brightness(100%);
}
.hiring__card:hover > h6,
.hiring__card:hover span {
  color: rgb(255, 255, 255);
}

@media (max-width: 1400px) {
  .hiring {
    max-width: 100%;
    padding: 50px 15px 36px;
  }
  .hiring__title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.36px;
  }
  .hiring__text {
    width: 100%;
    margin: 23px 0 30px;
  }
  .hiring__button {
    width: 100%;
    margin-bottom: 39px;
  }
  .hiring__cards-wrap {
    width: 100%;
    display: block;
    margin: 0;
  }
  .hiring__card {
    display: block;
    height: 140px;
    padding: 19px 0 0 20px;
    margin-bottom: 15px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow: hidden;
  }
  .hiring__card > h6 {
    width: 150px;
    text-align: start;
    line-height: 28px;
  }
  .hiring__card > span {
    display: block;
    width: 200px;
    text-align: start;
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 19px;
  }
  .hiring__card:nth-child(1) {
    padding-right: 0;
  }
  .hiring__card::after {
    right: 20px;
    top: 63px;
  }
  .hiring__card::before {
    content: "";
    display: block;
    width: 49px;
    height: 140px;
    background-color: rgb(213, 212, 213);
    position: absolute;
    top: 0;
    right: 0;
  }
}
.order {
  background-color: rgb(244, 245, 247);
  padding: 50px 15px;
  margin: 0 auto;
  text-align: center;
}
.order__banner {
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/illustration-window.png) center no-repeat;
  width: 200px;
  height: 220px;
  margin: 0 auto;
  background-size: contain;
}
.order__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.25px;
  margin: 40px 0 18px;
}
.order__description {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 78px;
  text-align: start;
}
.order__email-input {
  width: 100%;
  height: 48px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.order__button {
  width: 100%;
  margin: 12px 0 10px;
}
.order__extra-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: start;
  color: rgba(43, 41, 45, 0.6);
}
.order__extra-info a {
  color: rgb(49, 66, 198);
  font-size: 14px;
}

@media (min-width: 1400px) {
  .order {
    padding: 72px 0 72px;
    display: flex;
  }
  .order__banner {
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/illustration-window.png) center no-repeat;
    width: 269px;
    height: 296px;
    margin: 0 0 0 224px;
  }
  .order__wrap {
    max-width: 556px;
    text-align: left;
    margin: -6px 0 0 124px;
  }
  .order__title {
    margin: 40px 0 19px;
  }
  .order__description {
    margin: 0 0 0 -2px;
  }
  .order__email-input {
    width: 385px;
    text-align: left;
    padding: 0 13px;
    margin: 26px 5px 10px 0;
  }
  .order__button {
    width: 160px;
    margin: 0;
  }
  .order__extra-info a {
    color: rgb(49, 66, 198);
    font-size: 14px;
    font-weight: 400;
  }
}
.engage-mobile {
  display: none;
}

@media (max-width: 1400px) {
  .engage-mobile {
    display: block;
    width: 100%;
    padding: 41px 15px 40px;
    border-bottom: 1px solid rgb(227, 227, 227);
  }
  .engage-mobile__first-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
    color: rgb(0, 155, 77);
  }
  .engage-mobile__second-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.34px;
    margin: 17px 0 24px;
  }
  .engage-mobile__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
  }
  .engage-mobile__banner {
    margin: 28px 0 16px;
  }
  .engage-mobile__caption {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
  }
}
.support-mobile {
  display: none;
}

@media (max-width: 1400px) {
  .support-mobile {
    display: block;
  }
  .support-mobile__second-title {
    margin-bottom: 18px;
  }
}
.page {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}
.page__line-for-footer {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(43, 41, 45, 0.1);
  bottom: 50px;
}

.pinkBacground-wrapper {
  min-height: 710px;
  padding: 39px 0 77px;
  background-color: rgb(243, 198, 189);
}

@media (max-width: 1400px) {
  .page {
    width: 320px;
  }
  .page__line-for-footer {
    bottom: 623px;
  }
  .pinkBacground-wrapper {
    min-height: unset;
    padding: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
