.about {
  width: 1400px;
  min-height: 255px;
  background-color: rgba(244, 245, 247, 1);
  display: flex;
  justify-content: space-between;
  padding: 77px 131px 73px 130px;
  &__text-wrapper {
    width: 555px;
    min-height: 102px;
    & > h6,
    p {
      font-size: 22px;
      font-weight: 700;
      line-height: 32px;
      color: rgba(43, 41, 45, 1);
      margin-top: 1px;
    }
    & > p {
      font-weight: 400;
      margin-top: 8px;
      letter-spacing: 0.05px;
    }
  }
}

.customers {
  max-width: 1140px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto 106px;
  &__icon {
    display: flex;
    & > img {
      filter: brightness(0);
      max-width: 100%;
      margin: auto;
      background-repeat: no-repeat;
    }
  }
  &_second-section {
    padding-left: 2px;
    margin-bottom: 75px;
  }
}

@media (max-width: 401px) {
  .about {
    width: 100%;
    display: block;
    padding: 46px 15px 45px;
    &__text-wrapper {
      width: 100%;
      & > h6,
      p {
        margin: 0;
      }
      & > p {
        letter-spacing: normal;
        margin:  9px 0 0 0;
      }
      &:first-child {
        margin-bottom: 31px;
      }
    }
  }

  .customers {
    width: 100%;
    height: auto;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    &__icon {
      width: 106px;
      height: 95.5px;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(227, 227, 227, 1);
      & > img {
        width: 73%;
        margin: 0;
      }
      &:nth-child(3) > img {
        width: 36%;
      }
      &:nth-child(5) > img {
        width: 49%;
      }
    }
    &_second-section {
      padding: 0;
      margin: 0;
    }
  }
}
