.audience {
  width: 1400px;
  padding: 114px 0 110px;
  margin: 0 auto;
  background-color: rgba(0, 161, 198, 0.07);
  color: rgba(43, 41, 45, 1);
  text-align: center;
  &__firstTitle {
    font-size: 22px;
    font-weight: 700;
  }
  &__secondTitle {
    max-width: 555px;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin: 27px auto 30px;
    line-height: 56px;
  }
  &__text {
    max-width: 555px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    margin: 0 auto 38px;
  }
  &__learnMore {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #ffffff;
    color: rgba(0, 0, 0, 1);
    margin: 0 0 111px 3px;
    padding-top: 1px;
  }
  &__cads-label {
    width: 1139px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.audience-card {
  display: flex;
  width: 262px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-5) 100%),
    #ffffff url(../images/audience-card1.png) no-repeat center 22px;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 33px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  color: rgba(43, 41, 45, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  &:nth-child(2) {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-5) 100%),
    #ffffff url(../images/audience-card2.png) no-repeat center 22px;
  }
  &:nth-child(3) {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-5) 100%),
    #ffffff url(../images/audience-card3.png) no-repeat center 22px;
  }
  &:nth-child(4) {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-5) 100%),
    #ffffff url(../images/audience-card4.png) no-repeat center 22px;
  }
  &:hover {
    background-color: rgba(49, 65, 197, 1);
    color: rgba(255, 255, 255, 1);
  }
}
