.audience {
  width: 1400px;
  padding: 114px 0 110px;
  margin: 0 auto 44px;
  background-color: rgba(0, 161, 198, 0.07);
  text-align: center;
  &__first-title {
    font-size: 22px;
    font-weight: 700;
  }
  &__second-title {
    max-width: 555px;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin: 27px auto 30px;
    line-height: 56px;
  }
  &__text {
    max-width: 555px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    margin: 0 auto 38px;
  }
  &__learn-more {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #ffffff;
    color: rgba(0, 0, 0, 1);
    margin: 0 0 111px 3px;
    padding-top: 1px;
  }
  &__cads-wrapper {
    width: 1139px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.audience-card {
  display: flex;
  width: 262px;
  height: 300px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-5) 100%),
    #ffffff url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/user-1.png) no-repeat center 22px;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 33px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  &:nth-child(2) {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #ffffff url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/user-2.png) no-repeat center 22px;
  }
  &:nth-child(3) {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #ffffff url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/user-3.png) no-repeat center 22px;
  }
  &:nth-child(4) {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #ffffff url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/user-4.png) no-repeat center 22px;
  }
  &:hover {
    background-color: rgba(49, 65, 197, 1);
    color: rgba(255, 255, 255, 1);
  }
}

@media (max-width: 1400px) {
  .audience {
    width: 100%;
    padding: 49px 15px 35px;
    margin: 0;
    &__first-title {
      line-height: 34px;
    }
    &__second-title {
      width: 100%;
      font-size: 40px;
      letter-spacing: -0.36px;
      margin: 17px 0;
      line-height: 40px;
    }
    &__text {
      width: 100%;
      margin: 0 0 30px 0;
    }
    &__learn-more {
      width: 100%;
      margin: 12px 0 0 0;
      padding: 0;
    }
    &__get-started {
      width: 100%;
    }
    &__cads-wrapper {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 40px 0 0 0;
    }
  }

  .audience-card {
    display: flex;
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
  }
}
