.communication {
  width: 1440px;
  margin: 14px auto 0;
  padding: 110px 126px 109px 128px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__content-wrapper {
    width: 461px;
  }
  &__first-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
    color: rgba(1, 137, 209, 1);
  }
  &__second-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin: 23px 0 30px -2px;
  }
  &__description-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.08px;
  }
  &__button {
    margin: 39px 0 129px 2px;
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 150px;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
      position: absolute;
      bottom: -87px;
      left: 0;
    }
  }
  &__banner {
    text-align: center;
    margin-right: 106px;
    & > img {
        margin: -14px 1px 0 0;
    }
    & > p {
      font-size: 14px;
      font-weight: 400;
      color: rgba(43, 41, 45, 0.6);
      margin-top: 13px;
    }
  }
  &__cards-wrapper {
    display: flex;
    margin-left: 3px;
    & > div {
      width: 360px;
      height: 115px;
      margin-right: 30px;
      &:nth-child(3) {
        width: 361px;
      }
      & > p {
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        margin-bottom: 6px;
        & > span {
          font-size: 18px;
          font-weight: 700;
          line-height: 26px;
        }
      }
      & > a {
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        color: rgba(48, 64, 196, 1);
      }
    }
  }
}
