.engage-mobile {
  display: none;
}

@include small-screen {
  .engage-mobile {
    display: block;
    width: 100%;
    border-bottom: 1px solid $border-color;
    padding: 41px 15px 40px;
    &__first-title {
      font-size: 22px;
      font-weight: 700;
      line-height: 34px;
      color: rgba(0, 155, 77, 1);
    }
    &__second-title {
      font-size: 40px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -0.34px;
      margin: 17px 0 24px;
    }
    &__text {
      font-size: 24px;
      font-weight: 400;
      line-height: 34px;
    }
    &__banner {
      margin: 28px 0 16px;
    }
    &__caption {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      color: $main-text-color;
    }
  }
}
