.features {
  width: 1400px;
  min-height: 602px;
  margin: 0 auto;
  padding: 5px 0 89px 126px;
  position: relative;
  &__small-banner {
    position: absolute;
    left: 0;
    bottom: 281px;
  }
  &__big-banner {
    position: absolute;
    right: 0;
    bottom: 103px;
  }
  &__content-wrapper {
    width: 458px;
  }
  &__first-title {
    font-size: 22px;
    font-weight: 700;
    color: rgba(0, 155, 77, 1);
    margin-left: 2px;
    &_mobile {
      display: none;
    }
  }
  &__second-title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin: 28px 0 30px;
  }
  &__description-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 43px;
    margin-left: 2px;
  }
  &__click-block {
    position: relative;
    width: 100%;
    margin-bottom: 44px;
    cursor: pointer;
    margin-left: 3px;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: rgba(43, 41, 45, 0.15);
      position: absolute;
      bottom: -23px;
    }
    & > h6 {
      font-size: 22px;
      font-weight: 700;
      line-height: 26px;
      color: rgba(43, 41, 45, 1);
      position: relative;
      padding-left: 39px;
      &::before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-compas.png) center;
        position: absolute;
        top: 0;
        left: 0;
        filter: brightness(0);
      }
    }
    &:nth-child(7) {
      margin-bottom: 46px;
    }
    &:nth-child(8) > h6::before {
      background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-building.png);
      top: -1px;
      left: 1px;
      height: 25px;
    }
    &:nth-child(9) > h6::before {
      background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-bucket.png) center no-repeat;
      top: 1px;
      left: 1px;
    }
    & > p {
      font-size: 18px;
      font-weight: 400;
      margin-top: 9px;
      line-height: 25px;
      letter-spacing: 0.06px;
    }
    &_active > h6 {
      color: rgba(49, 66, 198, 1);
    }
    &_active > h6::before {
      filter: brightness(1);
    }
    &_active::after {
      background-color: rgba(49, 66, 198, 1);
      height: 3px;
    }
  }
  &__mobile-banner {
    display: none;
  }
  &__mobile-caption {
    display: none;
  }
}

@media (max-width: 1400px) {
  .features {
    width: 100%;
    margin: 0;
    padding: 48px 15px 40px;
    border-bottom: 1px solid rgba(227, 227, 227, 1);
    &__small-banner {
      display: none;
    }
    &__big-banner {
      display: none;
    }
    &__content-wrapper {
      width: 100%;
    }
    &__first-title {
      display: none;
      &_mobile {
        display: block;
        font-size: 22px;
        font-weight: 700;
        line-height: 34px;
        color: rgba(0, 155, 77, 1);
      }
    }
    &__second-title {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -0.36px;
      margin: 17px 0 18px;
    }
    &__description-text {
      margin: 0;
    }
    &__mobile-banner {
      display: block;
      width: 100%;
      margin: 28px 0 19px 0;
    }
    &__mobile-caption {
      display: block;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: rgba(43, 41, 45, 0.6);
      text-align: center;
    }
    &__click-block {
      display: none;
    }
  }
}
