.feedback {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid $line-color;
  padding: 0 0 66px 0;
  margin: 0 auto;

  &__wrap {
    text-align: center;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: $blue-color;
  }

  &__comment {
    max-width: 750px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    margin: 28px 0 34px 20px;
  }

  &__user-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  &__user-position {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $main-text-color;
  }

  &__buttons-wrap {
    display: flex;
    justify-content: space-between;
    width: 50px;
    margin-top: 38px;
  }

  &__button {
    width: 8px;
    height: 8px;
    background-color: rgba(43, 41, 45, 0.2);
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &_select {
      background-color: $blue-color;
    }
  }

  &__banner {
    position: absolute;
    right: 26px;
    bottom: -1px;
    width: 273px;
  }
}

@include small-screen {
  .feedback {
    display: block;
    width: 100%;
    padding: 37px 15px 46px;

    &__wrap {
      text-align: start;
    }

    &__comment {
      width: 100%;
      margin: 29px 0 32px;
    }

    &__buttons-wrap {
      width: 75px;
      margin: 41px auto 0;
    }

    &__button {
      width: 12px;
      height: 12px;
    }
    
    &__banner {
      position: static;
      width: 290px;
      height: 258px;
      margin-top: 40px;
    }
  }
}
