.footer {
  min-height: 389px;
  width: 100%;
  padding: 43px 130px 0;
  display: flex;
  flex-wrap: wrap;
  &__description {
    font-weight: 400;
    font-size: 18px;
    color: rgba(43, 41, 45, 0.6);
    width: 360px;
    line-height: 26px;
    margin: 22px 0 31px;
  }
  &__button {
    width: 135px;
    height: 40px;
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/app-store.png);
    border: none;
    cursor: pointer;
    &:nth-child(2) {
      width: 116px;
      background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/google-play.png);
      margin-left: 5px;
    }
  }
  &__link-wrapper {
    min-width: 265px;
    &:nth-child(2) {
      margin: 20px 29px 0 126px;
    }
    &:nth-child(3) {
      margin: 20px 0 0 0;
    }
    & > h6 {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 18px;
    }
  }
  &__links-list {
    list-style: none;
  }
  &__link > a {
    text-decoration: none;
    color: rgba(43, 41, 45, 0.6);
    font-size: 18px;
    line-height: 35px;
  }
  &__extra-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  &__bottom-links {
    min-width: 180px;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  &__bottom-link > a {
    text-decoration: none;
    color: rgba(43, 41, 45, 0.6);
    font-size: 14px;
    font-weight: 400;
  }
  &__bottom-icons {
    min-width: 97px;
    margin: 1px 2px 0 0;
  }
  &__bottom-icon {
    & > a {
      display: inline-block;
      width: 18px;
      height: 17px;
      background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-linkedIn.png);
    }
    &:first-child > a {
      width: 21px;
      height: 16px;
      background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-twitter.png);
    }
    &:nth-child(2) > a {
      background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-fb.png);
    }
  }
  &__logo {
    & > div {
      padding-top: 7px;
    }
    & > img {
      margin-top: -3px;
    }
  }
}

@media (max-width: 1400px) {
  .footer {
    padding: 35px 15px 22px;
    display: block;
    align-items: center;
    &__buttons-wrap {
      margin: 0 0 69px 15px;
    }
    &__description {
      display: none;
    }
    &__logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      & > img {
        width: 66px;
        margin: 0 0 0 6px;
      }
      & > div > p {
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 32px;
      }
      & > div > h6 {
        text-align: center;
        margin: 0;
        font-size: 20px;
        line-height: 25px;
        margin-top: 10px;
      }
    }
    &__link-wrapper {
      width: 100%;
      &:nth-child(2) {
        margin: 0;
      }
      &:nth-child(3) {
        margin: 30px 0 0 0;
      }
    }
    &__link > a {
      line-height: 35.2px;
    }
    &__extra-wrapper {
      width: 100%;
      display: block;
      margin: 0;
    }
    &__bottom-links {
      width: 180px;
      margin: 29px 0 33px;
    }
    &__bottom-icons {
      width: 97px;
    }
  }
}
