.footer {
  min-height: 389px;
  width: 100%;
  padding: 43px 130px 0;
  display: flex;
  flex-wrap: wrap;
  &__description {
    font-weight: 400;
    font-size: 18px;
    color: rgba(43, 41, 45, 0.6);
    width: 360px;
    line-height: 26px;
    margin: 26px 0 25px;
  }
  &__button {
    width: 135px;
    height: 40px;
    background: url(../images/app-store.svg);
    border: none;
    cursor: pointer;
    &:nth-child(2) {
      width: 116px;
      background: url(../images/google-play.svg);
      margin-left: 5px;
    }
  }
  &__link-wrapper {
    min-width: 265px;
    &:nth-child(2) {
      margin: 0 29px 0 126px;
    }
    & > h6 {
      font-size: 22px;
      font-weight: 700;
      color: rgba(43, 41, 45, 1);
      margin-bottom: 18px;
    }
  }
  &__links-list {
    list-style: none;
  }
  &__link > a {
    text-decoration: none;
    color: rgba(43, 41, 45, 0.6);
    font-size: 18px;
    line-height: 30px;
  }
  &__extra-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  &__bottom-links {
    min-width: 180px;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  &__bottom-link > a {
    text-decoration: none;
    color: rgba(43, 41, 45, 0.6);
    font-size: 14px;
    font-weight: 400;
  }
  &__bottom-icons {
    min-width: 97px;
  }
  &__bottom-icon {
    & > a {
      display: inline-block;
      width: 18px;
      height: 17px;
      background: url(../images/linkedIn.svg);
    }
    &:first-child > a {
      width: 21px;
      height: 16px;
      background: url(../images/icon-twitter.svg);
    }
    &:nth-child(2) > a {
      background: url(../images/icon-fb.svg);
    }
  }
}
