.headline {
  position: relative;
  padding-left: 130px;
  &__title {
    width: 754px;
    font-size: 80px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: -0.5px;
    position: relative;
    z-index: 2;
    margin: 76px 0 0 -4px;
  }
  &__text {
    width: 456px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    margin: 43px 0 58px;
  }
  &__banner {
    position: absolute;
    bottom: -49px;
    right: 25px;
  }
  &__action-button {
    &:nth-child(2) {
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.05) 0%,
          rgba(255, 255, 255, 1e-5) 100%
        ),
        #ffffff;
      color: rgba(48, 64, 196, 1);
      margin-left: 5px;
      width: 157px;
    }
  }
}

@media (max-width: 1400px) {
  .headline {
    position: relative;
    padding: 35px 15px 36px;
    &__title {
      width: 100%;
      font-size: 50px;
      line-height: 50px;
      letter-spacing: -0.31px;
      margin: 0;
    }
    &__text {
      width: 100%;
      margin: 29px 0 32px;
    }
    &__banner {
      display: block;
      width: 320px;
      height: 180px;
      position: relative;
      bottom: 0px;
      right: 15px;
    }
    &__action-button:first-child {
      width: 100%;
      margin-bottom: 15px;
    }
    &__action-button:last-child {
      width: 100%;
      margin: 0 0 33px 0;
    }
  }
}
