.header {
  display: flex;
  align-items: center;
  width: 1140px;
  height: 62px;
  margin: auto;
  &__button {
    width: 160px;
    height: 48px;
    font-weight: 700;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(48, 64, 196, 1);
    border: none;
    border-radius: 2px;
    margin-left: 75px;
    cursor: pointer;
  }
  &__navigation-wrapper {
    margin-left: auto;
  }
  &__navigation-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 273px;
  }
  &__navigation-item {
    & > a {
      text-decoration: none;
      font-weight: 400;
      font-size: 18px;
      color: rgba(0, 0, 0, 1);
    }
    &:nth-child(3) {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 9px;
        right: -19px;
        display: block;
        width: 8px;
        height: 5px;
        background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
      }
    }
    &_select > a {
      font-weight: 700;
    }
  }
  &__mobile-button {
    display: none;
  }
}

.logo {
  display: flex;
  &__img {
    width: 66px;
    height: 60px;
    margin: 1px 9px 0 0;
  }
  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
  }
  &__description {
    font-size: 18px;
    font-weight: 400;
    color: rgba(43, 41, 45, 0.6);
  }
}

@include small-screen {
  .header {
    justify-content: space-between;
    width: 100%;
    height: 64px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 16px rgba(44, 50, 65, 0.08);
    padding: 0 0 0 15px;
    &__button {
      display: none;
    }
    &__navigation-wrapper {
      display: none;
    }
    &__mobile-button {
      display: block;
      width: 59px;
      height: 100%;
      border: none;
      border-left: 1px solid rgba(0, 0, 0, 0.15);
      background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png)
        center no-repeat;
      cursor: pointer;
    }
  }
  .logo {
    display: flex;
    &__img {
      width: 53px;
      height: 48px;
      margin: 0;
    }
    &__name {
      margin: 0 0 0 8px;
    }
    &__description {
      display: none;
    }
  }
}
