.headline {
  position: relative;
  padding-left: 130px;
  &__title {
    width: 754px;
    font-size: 80px;
    font-weight: 700;
    line-height: 78px;
    color: rgba(43, 41, 45, 1);
    letter-spacing: -0.5px;
    position: relative;
    z-index: 2;
  }
  &__text {
    width: 456px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    color: rgba(43, 41, 45, 1);
    margin: 34px 0 58px;
  }
  &__banner {
    position: absolute;
    bottom: -60.5px;
    right: 25px;
  }
  &__action-button {
    &:nth-child(2) {
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.05) 0%,
          rgba(255, 255, 255, 1e-5) 100%
        ),
        #ffffff;
        color: rgba(48, 64, 196, 1);
        margin-left: 5px;
    }
  }
}
