.hiring {
  max-width: 1400px;
  text-align: center;
  margin: 0 auto;
  padding: 106px 0 110px;
  &__title {
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
  &__text {
    max-width: 555px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    margin: 26px auto 32px;
  }
  &__button {
    width: 247px;
    margin-bottom: 110px;
  }
  &__cards-wrap {
    max-width: 750px;
    min-height: 284px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__card {
    display: block;
    height: 81px;
    border-radius: 8px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    padding: 0 114px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-decoration: none;
    &:nth-child(1) {
      padding-right: 104px;
    }
    &::after {
      content: '';
      width: 8px;
      height: 12px;
      background: url(../images/hiring-arrow.svg);
      position: absolute;
      filter: brightness(60%);
      right: 23.5px;
      top: 34.5px;
    }
    & > h6 {
      font-size: 22px;
      font-weight: 700;
    }
    & > span {
      font-size: 18px;
      font-weight: 400;
      color: rgba(43, 41, 45, 0.6);
    }
    &:hover {
      background-color: rgba(49, 65, 197, 1);
      &::after {
        filter: brightness(100%);
      }
      & > h6,
      span {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

@media (max-width: 1400px) {
  .hiring {
    max-width: 100%;
    padding: 50px 15px 36px;
    &__title {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -0.36px;
    }
    &__text {
      width: 100%;
      margin: 23px 0 30px;
    }
    &__button {
      width: 100%;
      margin-bottom: 39px;
    }
    &__cards-wrap {
      width: 100%;
      display: block;
      margin: 0;
    }
    &__card {
      display: block;
      height: 140px;
      padding: 19px 0 0 20px;
      margin-bottom: 15px;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      overflow: hidden;
      & > h6 {
        width: 150px;
        text-align: start;
        line-height: 28px;
      }
      & > span {
        display: block;
        width: 200px;
        text-align: start;
        line-height: 22px;
        font-size: 16px;
        font-weight: 400;
        margin-top: 19px;
      }
      &:nth-child(1) {
        padding-right: 0;
      }
      &::after {
        right: 20px;
        top: 63px;
      }
      &::before {
        content: '';
        display: block;
        width: 49px;
        height: 140px;
        background-color: rgba(213, 212, 213, 1);
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
