.inbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 790px;
  background-color: rgba(252, 240, 227, 0.4);
  padding: 115px 99px 0 193px;
  margin: 0 auto;
  &__banner {
    text-align: center;
    margin-top: 27px;
  }
  &__content-wrapper {
    width: 519px;
  }
  &__first-title {
    font-size: 22px;
    font-weight: 700;
    color: rgba(241, 89, 43, 1);
    line-height: 34px;
    margin-left: 29px;
  }
  &__second-title {
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 56px;
    margin: 24px 0 30px 27px;
  }
  &__description-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    margin: 0 0 44px 28px;
  }
}
.inbox-banner {
  &__desc {
    font-size: 14px;
    font-weight: 400;
    color: $main-text-color;
    margin-top: 13px;
  }
}

.inbox-comment {
  width: 519px;
  min-height: 213px;
  background-color: #fff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-5) 100%),
    #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-bottom: 4px solid rgba(1, 133, 208, 1);
  padding: 30px 29px 0;
  &__details {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 27px 2px;
    & > span {
      font-weight: 700;
      font-size: 20px;
    }
  }
  &__person {
    width: 276px;
    display: flex;
    justify-content: space-between;
    &-avatar {
      width: 40px;
      height: 40px;
      margin-top: 2px;
    }
    &-name {
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
    }
    &-position {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: $main-text-color;
    }
  }
}

@include small-screen {
  .inbox {
    display: block;
    width: 100%;
    padding: 58px 15px 48px;
    margin: 0;
    &__banner {
      width: 100%;
      margin: 0;
    }
    &__content-wrapper {
      width: 100%;
    }
    &__first-title {
      margin: 28px 0 0 0;
    }
    &__second-title {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -0.36px;
      margin: 17px 0 18px;
    }
    &__description-text {
      width: 100%;
      padding-right: 1px;
      margin: 0;
    }
  }
  .inbox-banner {
    &__img {
      width: 290px;
      height: 349px;
    }
    &__desc {
      display: none;
    }
  }
  .inbox-comment {
    width: 100%;
    padding: 30px 20px;
    margin: 30px 0 0 0;
    &__details {
      margin: 0 0 26px 0;
    }
    &__person {
      display: flex;
      justify-content: space-between;
      width: 240px;
      &-avatar {
        margin: 3px 11px 0 0;
      }
    }
  }
}
