* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: rgba(43, 41, 45, 1);
}

@import 'header';
@import 'footer';
@import 'headline';
@import 'common';
@import 'aboutAndCustomers';
@import 'features';
@import 'audience';
@import 'inbox';
@import 'communication';
@import 'feedback';
@import 'hiring';
@import 'order';
@import 'engage-mobile';
@import 'support-mobile';

.page {
  width: 1400px;
  margin: auto;
  position: relative;
  &__line-for-footer {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(43, 41, 45, 0.1);
    bottom: 50px;
  }
}

.pinkBacground-wrapper {
  min-height: 710px;
  padding: 39px 0 77px;
  background-color: rgba(243, 198, 189, 1);
}

@media (max-width: 1400px) {
  .page {
    width: 320px;
    &__line-for-footer {
      bottom: 423px;
    }
  }
  .pinkBacground-wrapper {
    min-height: unset;
    padding: 0;
  }
}
