* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.page {
  width: 1400px;
  margin: auto;
  position: relative;
  &__line-for-footer {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(43, 41, 45, 0.1);
    bottom: 50px;
  }
}

// ================================== HEADER ===============================================

.header {
  width: 1140px;
  height: 62px;
  margin: auto;
  display: flex;
  align-items: center;
  &__button {
    width: 160px;
    height: 48px;
    background-color: rgba(48, 64, 196, 1);
    font-weight: 700;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 2px;
    margin-left: 75px;
    cursor: pointer;
  }
}

.navigation {
  margin-left: auto;
}

.logo {
  display: flex;
  &__img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__name {
    font-size: 20px;
    font-weight: 700;
  }
  &__description {
    font-size: 18px;
    font-weight: 400;
    color: rgba(43, 41, 45, 0.6);
  }
}

.nav-list {
  width: 273px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  &__item {
    & > a {
      text-decoration: none;
      font-weight: 400;
      font-size: 18px;
      color: rgba(0, 0, 0, 1);
    }
    &:nth-child(3) {
      position: relative;
      &::after {
        content: '';
        display: block;
        width: 8px;
        height: 5px;
        position: absolute;
        top: 10px;
        right: -19px;
        background: url(../images/arrow.svg);
      }
    }
    &_select {
      font-weight: 700;
      color: rgba(43, 41, 45, 1);
    }
  }
}
.pinkBacground-lable {
  padding: 39px 0 77px;
  background-color: rgba(243, 198, 189, 1);
}

// ================================== FOOTER ===============================================

.footer {
  min-height: 389px;
  width: 100%;
  padding: 43px 130px 0;
  display: flex;
  flex-wrap: wrap;
  &__description {
    font-weight: 400;
    font-size: 18px;
    color: rgba(43, 41, 45, 0.6);
    width: 360px;
    line-height: 26px;
    margin: 26px 0 25px;
  }
  &__button {
    width: 135px;
    height: 40px;
    background: url(../images/app-store.svg);
    border: none;
    cursor: pointer;
    &:nth-child(2) {
      width: 116px;
      background: url(../images/google-play.svg);
      margin-left: 10px;
    }
  }
  &__link-label {
    min-width: 265px;
    &:nth-child(2) {
      margin: 0 29px 0 126px;
    }
    & > h6 {
      font-size: 22px;
      font-weight: 700;
      color: rgba(43, 41, 45, 1);
      margin-bottom: 18px;
    }
  }
  &__extraLink-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
}

.productAndCompany-links {
  list-style: none;
  &__item > a {
    text-decoration: none;
    color: rgba(43, 41, 45, 0.6);
    font-size: 18px;
    line-height: 30px;
  }
}

.extraLinks {
  min-width: 180px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  &__textItem > a {
    text-decoration: none;
    color: rgba(43, 41, 45, 0.6);
    font-size: 14px;
    font-weight: 400;
  }
}

.extraIcons {
  min-width: 97px;
  &__item > a {
    display: inline-block;
    width: 18px;
    height: 17px;
    background: url(../images/linkedIn.svg);
  }
  &__item:nth-child(1) > a {
    width: 21px;
    height: 16px;
    background: url(../images/icon-twitter.svg);
  }
  &__item:nth-child(2) > a {
    background: url(../images/icon-fb.svg);
  }
}
